<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="admin/layout">
<head>
    <title>이상조치관리설계</title>
    <style>
        table {
            font-size: 8pt;
            display: block;
            overflow-x: auto;

        }

        .table-head {
            background-color: #3c8dbc;
            color: white;
        }

        table thead th {
            text-align: center;

        }

        table tbody tr {
            text-align: center;
        }
        .btn-group .btn+.btn, .btn-group .btn+.btn-group, .btn-group .btn-group+.btn, .btn-group .btn-group+.btn-group {
            margin-left: 10px;
            width:150px;
        }

        .btn-group>.btn:first-child {
            width: 150px;
        }

        .table td, .table th {
            border: 1px solid #ddd;
            padding: 8px;

        }

        td, th{
            text-align: center;
            /*vertical-align: middle!important;*/

        }

        .btn-file {
            position: relative;
            overflow: hidden;
        }
        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }

    </style>

    <script src="../../static/admin/sweet_alert/sweetalert.min-new.js"></script>

</head>
<body>
<div layout:fragment="content">
    <section class="content-header">
        <h1>
            이상조치관리설계
        </h1>

    </section>
    <section class="content">

        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="box box-primary">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-xs-12" >
                                <div class="form-group">
                                    <label for="selFactory">공장</label>
                                    <select class="selFactory" name="selFactory" id="selFactory"></select>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-xs-12" >

                                <div class="form-group">
                                    <label for="selDepartment">부서</label>
                                    <select class="selDepartment" name="selDepartment" id="selDepartment"></select>
                                </div>
                            </div>

                            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-xs-12" >

                                <div class="form-group">
                                    <label for="selDepartment">이상조치관리명</label>
                                    <select class="selDepartment" name="selDepartment" id="selAbnormalName">
                                        <option value="설비고장조치">설비고장조치</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-2 col-sm-6 col-xs-12" >

                                <div class="form-group">
                                    <!--<button class="btn btn-success" id="btnImport" type="button" ><span class="fa fa-angle-double-down" ></span> Import</button>-->
                                    <form id="fileUploadForm"  class="btn btn-success btn-file"><span class="fa fa-angle-double-down" ></span> 소입 <input type="file" id="btnImport" name="file" onchange="importFile()"> </form>


                                    <button class="btn btn-primary" id="btnSearchLine" type="button" >검색</button>
                                    <button class="btn btn-success" id="btnSaveAll" type="button" ><span class="fa fa-save"></span> 저장</button>

                                </div>
                            </div>
                        </div>

                        <div class="row">


                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-4 col-xs-12">
                                <div class="form-group">

                                    <button class="btn btn-success" id="btnTest" type="button" style="display:none" ><span class="fa fa-save" ></span> Test</button>
                                    <button class="btn btn-success" id="btnHidden" type="button" style="display:none" ><span class="fa fa-save"></span> Hidden</button>
                                </div>
                            </div>
                            <input type="text" id="txtTempMainProcess" style="display:none;"/>
                        </div>
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12  table-responsive">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive">
                                        <table class="table" id="mainTable">
                                            <thead class="thead-inverse table-head" id="tableHeader">
                                            <!--<tr id="firstHeader">-->
                                            <!--<th>라인</th>-->
                                            <!--</tr>-->
                                            </thead>
                                            <tbody id="abnormalTable">
                                            <!--<tr id="firstRow">-->
                                            <!--<td id="lineName">IB <br/>-->
                                            <!--<button type="button" class="btn btn-primary" onclick="addColumn()">제품추가<br>-->
                                            <!--(체인)</button>-->
                                            <!--</td>-->
                                            <!--</tr>-->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Model will pop up when the user clicks on the alarm name -->
    <div class="modal fade bs-example-modal-lg" tabindex="-1"   role="dialog" aria-labelledby="myLargeModalLabel"
         id="modalMapping">
        <div class="modal-dialog modal-lg" style="width:90%;">
            <div class="modal-content" style="max-height: calc(100vh - 0px);overflow-y: auto;">
                <div class="box box-primary modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            style="font-weight: bold; font-size: 18pt;"
                            aria-hidden="true">X</span></button>
                    <h4 class="modal-title">이상항목 매핑</h4>
                </div>
                <div class="row"></div>
                <div class="modal-body">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive">
                        <table class="table table-bordered">
                            <tbody id="SUMMARY_MAPPING">

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>




    <script>
        var design = {};
        var lineArr = []; // for Line

    </script>

    <script id="SUMMARY_MAPPING_TEMPLATE" type="text/x-jquery-tmpl">
            {{each(a, b) DATA}}
                    {{if a != 0}}
                    <tr style="text-align:center;">
                        {{each(i,v) E}}
                            {{if i!=0}}
                                <td>
                                    {{if NAME != null}}
                                        <span><input type="checkbox" checked class="chk" data-id='${v.DETAIL_ID}'/></span>
                                    {{else}}
                                        <span><input type="checkbox" class="chk"/></span>
                                    {{/if}}
                                </td>
                            {{else}}
                                <td style="text-align:center;background-color: #3c8dbc;color: white;"  data-id='${v.ID}'>
                                    ${v.NAME}
                                </td>
                            {{/if}}
                        {{/each}}
                    {{else}}
                    <tr style="text-align:center;background-color: #3c8dbc;color: white;">
                        {{each(i,v) E}}
                            <td data-id='${v.ID}'>
                                {{if NAME != null}}
                                    ${v.NAME}
                                {{/if}}
                            </td>
                        {{/each}}
                    {{/if}}
                </tr>
            {{/each}}
    </script>

    <script src="/static/admin/javascript_v3/abnormal-mgt-design.js"></script>

</div>
<th:block layout:fragment="script">

</th:block>

</body>
</html>