<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="admin/layout" ng-app="fukoku">
<head>
    <title>알람진단예측</title>

    <link rel="stylesheet" th:href="@{/static/admin/angular/bower_components/nvd3/build/nv.d3.min.css}"/>
    <script th:src="@{/static/admin/angular/bower_components/angular/angular.min.js}"></script>
    <script th:src="@{/static/admin/angular/bower_components/d3/d3.min.js}" charset="utf-8"></script>
    <script th:src="@{/static/admin/angular/bower_components/nvd3/build/nv.d3.js}"></script>
    <script th:src="@{/static/admin/angular/bower_components/angular-nvd3/dist/angular-nvd3.js}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-sanitize.js"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css">
    <!--<link rel="stylesheet" href="../../static/admin/javascripts/c3/kagi.css">-->
    <!--<script src="../../static/admin/javascripts/d3/kagi.js"></script>-->
    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>


    <style>
        svg {
            background-color: #EEE;
        }


        .axis path,
        .axis line {
            fill: none;
            stroke: steelblue;
            stroke-width: 2;
            shape-rendering: crispEdges;
        }

        .grid path,
        .grid line{
            fill : none;
            stroke: lightgrey;
            stroke-opacity: 0.7;
        }
        .line {
            fill: none;
            stroke: steelblue;
            stroke-width: 1.5px;
        }
        .zoom {
            cursor: move;
            fill: none;
            pointer-events: all;
        }

        #modal {
            position: absolute;
            left: 20px;
            top: 20px;
            z-index: 1;
            background: white;
            border: 1px black solid;
            opacity : 0;
            /*box-shadow: 10px 10px 5px #888888;*/
        }
    </style>
    <script src="http://d3js.org/d3.v4.min.js" charset="utf-8"></script>
    <script src="../../static/admin/javascripts/d3/draw_LineChart_ele.js"></script>
    <script src="../../static/admin/javascripts/d3/draw_LineChart_v3.js"></script>


</head>
<body ng-controller="MainCtrl" >
<div layout:fragment="content">
    <section class="content-header">
        <h1>
            알람진단예측
        </h1>

    </section>
    <section class="content">

        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="box box-primary">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-xs-12" >
                                <div class="form-group">
                                    <label for="selectOptFactory">공장</label>
                                    <select id="selectOptFactory" ng-model="selectCtrl.selectedValue"  ng-change="selectByFactory()">
                                        <!-- <option value="0">All</option>  -->
                                        <option ng-repeat="o in factories"  value="{{o.id}}">{{o.name}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-xs-12" >

                                <div class="form-group">
                                    <label for="selectOptLine">라인</label>
                                    <select id="selectOptLine" ng-model="selectCtrl.selectedLineValue"  ng-change="selectByLine()">
                                        <!-- <option value="0">All</option>  -->
                                        <option ng-repeat="o in lines"  value="{{o.name}}">{{o.name}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-xs-12" >
                                <div class="form-group">
                                    <label for="selectOptMachine">설비</label>
                                    <select id="selectOptMachine" ng-model="selectCtrl.selectedMachineValue"  ng-change="selectByMachine()">
                                        <!-- <option value="0">All</option>  -->
                                        <option ng-repeat="o in machines"  value="{{o.name}}">{{o.name}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12" >
                                <div class="form-group">
                                    <label for="txtDate" class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-12 control-label">날짜</label>
                                    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                        <div class='input-group date' id='startDate'>
                                            <input type='text' class="form-control" id="txtDate" placeholder="" required/>
                                            <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-3 col-md-2 col-sm-6 col-xs-12" >
                                <div class="form-group">
                                    <button class="btn btn-primary" id="btnGraph" type="button" >검색</button>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!--<div id="myDiv">&lt;!&ndash; Plotly chart will be drawn inside this DIV &ndash;&gt;</div>-->
            <div id="chart2" >
                <svg width="1200" height="400" id="alarmChart">

                </svg>
            </div>
        </div>
    </section>



</div>
<th:block layout:fragment="script">
    <script th:src="@{/static/admin/javascript_v3/alarm-appearance.js}"></script>
    <script>

        $(document).ready(function () {
            $(function () {
                $('#startDate,#endDate').datetimepicker({
                    format: 'YYYY-MM-DD',
                    defaultDate: new Date()
                });
            });
        });
    </script>

    <!--<script src="../../static/admin/javascripts/d3/bar-multiline.js"></script>-->
</th:block>

</body>
</html>