<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="admin/layout">

<head>
    <title> 라인별고장시간분석 </title>
    <style>
        table {
            font-size: 12pt;
        }

        table thead {
            background-color: #3c8dbc;
            color: white;
        }

        table thead th {
            text-align: center;
        }

        table tbody tr {
            text-align: center;
        }
        .axis text{
            font-family: Helvetica, Arial, sans-serif;
            font-size: 8px;
            text-anchor: end;
        }
        .axis path{
            fill:none;
            stroke:black;
            stroke-width: 0.5px;
            shape-rendering: crispEdges;
        }
        .bar{
            stroke: none;
            fill: steelblue;
        }
        .textlabel{
            font-family: Helvetica, Arial, sans-serif;
            font-size:10px;
            text-anchor: middle;
        }
    </style>

</head>
<body>
<div layout:fragment="content">
    <section class="content-header">
        <h1>
            라인별고장시간분석
        </h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="box box-primary">

                    <div class="box-body">
                        <div class="row">
                            <!--<div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <select class="form-control" id="factoryName">

                                    </select>
                                </div>
                            </div>-->
                            <!--<div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <select class="form-control">
                                        <option>Select Machine</option>
                                        <option>압입기 1</option>
                                        <option>압입기 2</option>
                                        <option>압입기 3</option>
                                        <option>바란스기</option>
                                    </select>
                                </div>
                            </div>-->
                            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <div class='input-group date' id='startTime'>
                                        <input type='text' class="form-control" id="yearSelected"/>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-xs-12">
                                <button type="button" class="btn btn-primary" id="btnQuery">검색</button>
                                <button type="button" class="btn btn-primary">Excel</button>
                            </div>
                        </div>

                        <!--<div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive">
                                <div class="table" id="line-bar" style="width:1200px; margin: 0 auto;"></div>
                            </div>
                        </div>-->

<!--                        <div class="row">-->
<!--                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive">-->
<!--                                <div class="table" id="bar-label" style="width:1400px; margin: 0 auto;"></div>-->
<!--                            </div>-->
<!--                        </div>-->
                        <div class="row">

                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6" >
                                <div class="panel panel-default">
                                    <div class="panel-heading" style="font-size: 10pt;">막대 그래프</div>
                                    <div class="panel-body">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <center>
                                                <div id="bar-label"></div>
                                            </center>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6" id="piePanel">
                                <div class="panel panel-default">
                                    <div class="panel-heading" style="font-size: 10pt;">파이 차트</div>
                                    <div class="panel-body">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <center>
                                                <div id="donut-label"></div>
                                            </center>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <br/>
                        <div class="row">

                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12  table-responsive">

                                        <div class="box" id="clearTable">
                                            <div class="box-body">
                                                <table class="table table-bordered table-striped">
                                                    <thead>
                                                    <tr>
                                                        <th>라인</th>
                                                        <th>1월(h)</th>
                                                        <th>2월(h)</th>
                                                        <th>3월(h)</th>
                                                        <th>4월(h)</th>
                                                        <th>5월(h)</th>
                                                        <th>6월(h)</th>
                                                        <th>7월(h)</th>
                                                        <th>8월(h)</th>
                                                        <th>9월(h)</th>
                                                        <th>10월(h)</th>
                                                        <th>11월(h)</th>
                                                        <th>12월(h)</th>
                                                        <th>총고장시간(h)</th>
                                                        <th>총부하시간(h)</th>
                                                        <!--<th>총부하시간(h)</th>-->
                                                        <th>고장율(%)</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody  id="tbody">
                                                    </tbody>
                                                    </tfoot>
                                                </table>
                                            </div>

                                        </div>

                                </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="/static/admin/javascripts/d3/d3pie-v3.js"></script>
    <script src="/static/admin/javascripts/d3/barchart-label-color.js"></script>

    <script src="../../static/admin/javascripts/faultMachineMonitor.js"></script>
    <script>



    </script>
</div>
<th:block layout:fragment="script">
    <script>
        $(document).ready(function () {
            $(function () {
                $('#startTime').datetimepicker({
                    format: 'YYYY',
                    defaultDate: new Date()
                });
                //  fualtMachineMonitor.getFualtData();
            });
        });
    </script>
</th:block>
</body>
</html>