<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="admin/layout" ng-app="fukoku">

<head>

    <link rel="stylesheet" th:href="@{/static/admin/integrated_visualization/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/admin/integrated_visualization/css/contextMenuDDWV.css}">
    <link rel="stylesheet" th:href="@{/static/admin/integrated_visualization/css/bootstrap-colorpicker.min.css}">
    <link rel="stylesheet" th:href="@{/static/admin/integrated_visualization/css/style.css}">
    <title>통합정보시각화</title>



</head>
<body ng-controller="MainCtrl">

<div layout:fragment="content">

    <section class="content-header">
        <h1>
            통합정보시각화
        </h1>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="box box-primary">
                    <div class="box-body">
                        <div style="width: 100%; padding: 10px 20px; position: relative;">
                            <div style="margin: 0 10px 10px 0;">
                                <div class="input-group">
                                    <div class="input-group-addon" style="width: min-content;">
                                        <label class="input-group-text">공장관리</label>
                                    </div>
                                    <select class="form-control custom-select" id="selectCompany"></select>
                                </div>
                            </div>
                            <div>
                                <ul class="nav nav-tabs" id="navStates">
                                    <li class="z-axis">데이터(Z-축)</li>
                                    <li class="active" id="liMachine"><a data-toggle="tab" href="#nav-machine"  style="font-weight: 700;">설비</a></li>
                                    <li id="liProduction"><a data-toggle="tab" href="#nav-production" style="font-weight: 700;">생산</a></li>
                                </ul>

                                <div class="tab-content">
                                    <div id="nav-machine" class="tab-pane fade in active">
                                        <div id="zAxisBox1" style="padding: 16px 0;"></div>
                                    </div>
                                    <div id="nav-production" class="tab-pane fade">
                                        <div id="zAxisBox2" style="padding: 16px 0;"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin: 0; position: relative;">
                                <div id="mainChartContainer" class="col-lg-9 col-md-9 col-sm-8 col-xs-8 bar-chart-container">
                                    <div style="width:100%; padding-top: 10px; display: flex; position: absolute; flex-direction: row; justify-content: center;">
                                        <div class="chips">
                                            <div class="line-chips">라인</div>
                                            <div id="line"></div>
                                        </div>
                                        <div class="chips">
                                            <div class="line-chips">설비</div>
                                            <div id="machine"></div>
                                        </div>
                                        <div class="chips">
                                            <div class="line-chips">시작일</div>
                                            <div id="startDate"></div>
                                        </div>
                                        <div class="chips">
                                            <div class="line-chips">종료일</div>
                                            <div id="endDate"></div>
                                        </div>
                                    </div>
                                    <nav id="context-menu-ddwv" class="context-menu-ddwv">
                                        <ul class="context-menu-ddwv__items">
                                            <li id="liDayly" class="context-menu-ddwv__item">
                                                <a href="#" class="context-menu-ddwv__link" data-action="dayly">일별정보</a>
                                            </li>
                                            <li id="liWeekly" class="context-menu-ddwv__item">
                                                <a href="#" class="context-menu-ddwv__link" data-action="weekly">주별정보</a>
                                            </li>
                                        </ul>
                                    </nav>
                                    <img class="back-btn" th:src="@{/static/admin/integrated_visualization/images/left-arrow.svg}" alt="back" width="42" height="42" onclick="backButtonOnClicked()" >

                                    <div id="chartContainer" style=" width: 100%; height: 100%;"></div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4" style="padding: 0 0 0 10px;">
                                    <div class='input-group' style='width: 100%; vertical-align: middle;'>
                                        <div class="input-group-addon"  style="width: 67px; text-align: left; border-right: 0;">
                                            <label class="input-group-text" style="vertical-align: middle;">라인</label>
                                        </div>
                                        <select class="form-control custom-select" id="selectLine"></select>
                                    </div>
                                    <div class='input-group' style='width: 100%; vertical-align: middle; margin-top: 5px;'>
                                        <div class="input-group-addon"  style="width: 67px; text-align: left; border-right: 0;">
                                            <label class="input-group-text" style="vertical-align: middle;">설비</label>
                                        </div>
                                        <select class="form-control custom-select" id="selectMachine"></select>
                                    </div>
                                    <div class='input-group' style='width: 100%; vertical-align: middle; margin-top: 5px;'>
                                        <div class="input-group-addon"  style="width: 67px; text-align: left; border-right: 0;">
                                            <label class="input-group-text" style="vertical-align: middle;">시작일</label>
                                        </div>
                                        <select class="form-control custom-select" style="width: 35%; border-right: 0;" id="selectStartYear"></select>
                                        <select class="form-control custom-select" style="width: 40%; border-right: 0;" id="selectStartMonth"></select>
                                        <select class="form-control custom-select" style="width: 25%;" id="selectStartDay"></select>
                                    </div>
                                    <div class='input-group' style='width: 100%; vertical-align: middle; margin-top: 5px;'>
                                        <div class="input-group-addon"  style="width: 67px; text-align: left; border-right: 0;">
                                            <label class="input-group-text " style="vertical-align: middle;">종료일</label>
                                        </div>
                                        <select class="form-control custom-select" style="width: 35%; border-right: 0;" id="selectEndYear"></select>
                                        <select class="form-control custom-select" style="width: 40%; border-right: 0;" id="selectEndMonth"></select>
                                        <select class="form-control custom-select" style="width: 25%;" id="selectEndDay"></select>
                                    </div>
                                    <div class='input-group' style='width: 100%; vertical-align: middle; margin-top: 5px;'>
                                        <div class="input-group-addon"  style="width: 67px; text-align: left;border-right: 0;">
                                            <label class="input-group-text" style="vertical-align: middle;">X-축</label>
                                        </div>
                                        <select class="form-control custom-select" id="selectXAxis">
                                            <option value="line" selected>라인</option>
                                            <option value="machine">설비</option>
                                            <option value="date">날짜</option>
                                        </select>
                                    </div>
                                    <div class='input-group' style='width: 100%; vertical-align: middle; margin-top: 5px;'>
                                        <div class="input-group-addon"  style="width: 67px; text-align: left; border-right: 0;">
                                            <label class="input-group-text" style="vertical-align: middle;">Y-축</label>
                                        </div>
                                        <select class="form-control custom-select" id="selectYAxis">
                                            <option value="line" disabled>라인</option>
                                            <option value="machine">설비</option>
                                            <option value="date" selected>날짜</option>
                                        </select>
                                    </div>

                                    <button id="btnSendRequest" type="button" onclick="sendRequest()" style="width: 100%; margin-top: 5px;" class="btn btn-info">결과보기</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




</div>
<th:block layout:fragment="script">
    <script th:src="@{/static/admin/integrated_visualization/js/jquery-3.3.1.min.js}"></script>
    <script>var $j = jQuery.noConflict(true);</script>

    <script th:src="@{/static/admin/integrated_visualization/js/bootstrap.min.js}"></script>
    <script th:src="@{/static/admin/integrated_visualization/js/bootstrap-colorpicker.min.js}"></script>
    <script th:src="@{/static/admin/integrated_visualization/js/three.min.js}"></script>
    <script th:src="@{/static/admin/integrated_visualization/js/threex.domevents.js}"></script>
    <script th:src="@{/static/admin/integrated_visualization/js/d3.v5.min.js}"></script>
    <script th:src="@{/static/admin/integrated_visualization/js/OrbitControls.js}"></script>
    <script th:src="@{/static/admin/integrated_visualization/js/contextMenuDDWV.js}"></script>
    <script th:src="@{/static/admin/integrated_visualization/js/DDWV.js}"></script>
    <script th:src="@{/static/admin/integrated_visualization/js/main.js}"></script>
</th:block>
</body>
</html>