<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="admin/layout" ng-app="fukoku">

<head>

    <title>Line</title>
    
    <link rel="stylesheet" th:href="@{/static/admin/angular/bower_components/nvd3/build/nv.d3.min.css}"/>
    <script th:src="@{/static/admin/angular/bower_components/angular/angular.min.js}"></script>
    <script th:src="@{/static/admin/angular/bower_components/d3/d3.min.js}" charset="utf-8"></script>
    <script th:src="@{/static/admin/angular/bower_components/nvd3/build/nv.d3.js}"></script>
    <script th:src="@{/static/admin/angular/bower_components/angular-nvd3/dist/angular-nvd3.js}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-sanitize.js"></script>
    
</head>
<body ng-controller="MainCtrl">

<div layout:fragment="content">

    <section class="content-header">
        <h1>
            Line
        </h1>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-body">
                        <div class="row">
                            <div>
                                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-3 col-xs-12">
                                    <button type="button" id="btAdd" class="btn btn-success" ng-click="btAdd()">Add Factory</button>
                                </div>
                            </div>
                        </div>
                         <br/>
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive">
                                <table  class="table table-bordered table-striped" id="dtTable">
                                    <thead class="table-head">
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Ref Factory</th>
                                        <th>Layout name</th>
                                        <th>Product type</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Seq</th>
                                        <th>설명</th>
                                        <th>수정</th>
                                    </tr>
                                    </thead>
                                    <tbody>
	                                    <tr  ng-repeat="f in lines">
	                                    	<td>{{f.id}}</td>
	                                    	<td>{{f.name}}</td>
	                                    	<td>{{f.factory.name}}</td>
	                                    	<td>{{f.layout_name}}</td>
	                                    	<td>{{f.product_type}}</td>
	                                    	<td>{{f.start_date}}</td>
	                                    	<td>{{f.end_date}}</td>
	                                    	<td>{{f.seq}}</td>
	                                    	<td>{{f.remark}}</td>
	                                    	<td style="width:100px">
	                                    			<button data-f-id="{{f.id}}" ng-click="btEdit(f.id)" style="width:30px;" type="button" class="btn btn-info btn-xs"><i class="fa fa-fw fa-edit"></i></button>
	                                    			<button data-f-id="{{f.id}}" ng-click="btDelete(f.id)" style="width:30px" type="button" class="btn btn-danger btn-xs"><i class="fa fa-fw fa-trash"></i></button>
	                                     	</td>
	                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Modal -->

    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         id="modalFrm">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="box box-primary modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                    <h4 class="modal-title">라인관리</h4>
                </div>

                <form class="form-horizontal" enctype="multipart/form-data" id="frm" ng-submit="onSubmitFrm()">
                    <div class="box-body">
                        
                        <div class="form-group">
                            <label for="txtName" class="col-sm-2 control-label">Name:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="txtName" placeholder="" required/>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="txtName" class="col-sm-2 control-label">Ref Factory:</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="selectOpt"  required>
                                	<option value="">Product</option>
                                	<option ng-repeat="o in factories" value="{{o.id}}">{{o.name}}</option>
                                </select>
                            </div>
                        </div>
                        
                        
                        <div class="form-group">
                            <label for="txtName" class="col-sm-2 control-label">Product Type:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="txtProductType" placeholder="" required/>
                            </div>
                        </div>
                        
                        
                        <div class="form-group">
                            <label for="txtName" class="col-sm-2 control-label">Layout name:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="txtLayoutName" placeholder="" required/>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="txtDate" class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-12 control-label">Start date</label>
                            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                <div class='input-group date' id='startDate'>
                                    <input type='text' class="form-control" id="txtStartDate" placeholder="" required/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="txtDate" class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-12 control-label">End date</label>
                            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                <div class='input-group date' id='endDate'>
                                    <input type='text' class="form-control" id="txtEndDate" placeholder="" required/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="txtName" class="col-sm-2 control-label">Seq:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="txtSeq" placeholder="" required/>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="txtRemark" class="col-sm-2 control-label">설명:</label>
                            <div class="col-sm-10">
                                <textarea rows="5" class="form-control" id="txtRemark"></textarea>
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                    <div class="box-footer">
                        <button type="button" class="btn btn-danger btn-flat" data-dismiss="modal">취소</button>
                        <button type="submit" class="btn btn-primary pull-right btn-flat" id="btSave" style="display:none;">Save</button>
                        <button type="submit" class="btn btn-primary pull-right btn-flat" id="btUpdate" style="display:none;">Update
                        </button>
                    </div><!-- /.box-footer -->
                </form>
            </div>
        </div>
    </div>

</div>
<th:block layout:fragment="script">
<script th:src="@{/static/admin/javascript_v3/line.js}"></script>
<script>
		
        $(document).ready(function () {
            $(function () {
                $('#startDate,#endDate').datetimepicker({
                	format: 'YYYY-MM-DD HH:mm:ss',
                    defaultDate: new Date()
                });
            });
        });
    </script>
</th:block>
</body>
</html>