<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="admin/layout">
<head>
    <title>설비별 생산추이</title>
    <style>
        table {
            font-size: 12pt;
        }

        .table-head {
            background-color: #3c8dbc;
            color: white;
        }

        table thead th {
            text-align: center;
        }

        table tbody tr {
            text-align: center;
        }
        .line {
            fill: none;
            stroke: steelblue;
            stroke-width: 4px;
        }

        .axisSteelBlue text{
            fill: steelblue;
        }

        .axisRed text{
            fill: red;
        }
        td, th{
            text-align: center;
            vertical-align: middle!important;
        }
    </style>

</head>
<body>
<div layout:fragment="content">
    <section class="content-header">
        <h1>
            설비별 생산추이
        </h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="box box-primary">
                    <div class="box-body">
                        <div class="row">

                            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <select class="form-control selFactory" name="selFactory" id="selFactory">
                                    </select>
                                </div>
                            </div>

                            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <select class="form-control" id="selectLine">
                                        <option>라인</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <select class="form-control" id="selectMachine">
                                        <option>설비</option>
                                    </select>
                                </div>
                            </div>

                            <!--
                            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <select class="form-control" id="selectProduct">
                                        <option>품종</option>
                                    </select>
                                </div>
                            </div>
                            -->
                            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <div class='input-group date' id='startDate'>
                                        <input type='text' class="form-control" id="txtStartDate"
                                               placeholder="시작날짜"/>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <div class='input-group date' id='endDate'>
                                        <input type='text' class="form-control" id="txtEndDate"
                                               placeholder="완료날짜"/>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <button type="button" class="btn btn-primary" id="btnQuery">검색</button>
                                    <!--<button type="button" class="btn btn-primary" id="btnExcel">Excel</button>-->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-left: 100px;" id="mark">
                                <span style="width: 20px; height: 30px; background-color: #1792a4; display: inline-block; vertical-align: middle;"></span>
                                <span style="margin-right: 10px;">  생산수량(개)</span>
                                <span style="width: 20px; height: 30px; background-color: #FE2EF7; display: inline-block; vertical-align: middle;"></span>
                                <span style="margin-right: 10px; color:red;">  UPH</span>
                                <span style="width: 20px; height: 20px; background-color: #3A01DF; display: inline-block; vertical-align: middle; border-radius: 50%;"></span>
                                <span style="margin-right: 10px; color:red;">  가동율(%)</span>
                                <span style="width: 20px; height: 20px; background-color: #AC58FA; display: inline-block; vertical-align: middle; border-radius: 50%;"></span>
                                <span style="margin-right: 10px; color:red;">  직행율(%)</span>
                                <span style="width: 20px; height: 20px; background-color: #5FB404; display: inline-block; vertical-align: middle; border-radius: 50%;"></span>
                                <span style="margin-right: 10px; color:red;">  양품율(%)</span>
                                <span style="width: 20px; height: 20px; background-color: #FF8000; display: inline-block; vertical-align: middle; border-radius: 50%;"></span>
                                <span style="margin-right: 10px; color:red;">  공정사이클타임(초)</span>
                                <span style="width: 20px; height: 20px; background-color: #B40431; display: inline-block; vertical-align: middle; border-radius: 50%;"></span>
                                <span style="margin-right: 10px; color:red;">  이론사이클타임(초)</span>
                                <!--<span style="width: 20px; height: 20px; background-color: #AC58FA; display: inline-block; vertical-align: middle; border-radius: 50%;"></span>-->
                                <!--<span style="margin-right: 10px; color:red;">  UPH</span>-->



                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive">
                                <div class="table" id="barMultiLine" style="width:1200px; margin: 0 auto;"></div>
                            </div>
                        </div>
                        <br/>

                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12  table-responsive">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive">
                                        <table class="table">
                                            <thead class="thead-inverse table-head">
                                            <tr>
                                                <th>#</th>
                                                <th>라인</th>
                                                <th>설비</th>
                                                <th>일</th>
                                                <th>부하시간(h)</th>
                                                <th>가동시간(h)</th>

                                                <th>부하비가동시간(h)</th>
                                                <th>가동율(%)</th>

                                                <th>비가동욜(%)</th>
                                                <th>UPH</th>
                                                <th>생산수량</th>

                                                <th>직행수량(개)</th>
                                                <th>직행율(%)</th>

                                                <th>양폼수(개)</th>
                                                <th>양품율(%)</th>



                                                <th>NG수량(개)</th>
                                                <th>NG율(%)</th>

                                                <th>불량수량(개)</th>
                                                <th>불량율(%)</th>
                                                <th>이론목표수량(개)</th>
                                                <th>목표수량(개)</th>
                                                <th>이론사이클타임(초)</th>
                                                <th>공정사이클타임(초)</th>

                                            </tr>
                                            </thead>
                                            <tbody id="PRODUCT_STATUS">
                                            <tr role="row" class="odd" style="text-align:center;font-weight:bold;">
                                                <td colspan="23">콘텐츠 없음</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--
                        <div class="box-footer">
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                                    <div id="pageMessage">전시 <span id="limitPage"></span> 의 <span id="totalPage"></span>
                                        페이지 <span id="totalRecords"></span></div>
                                </div>
                                <br/>
                                <br/>
                                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                                    <select class="form-control" style="width:100px;" id="PER_PAGE">
                                        <option value="15">15</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-8 col-xs-12">
                                    <div class="pull-right" id="PAGINATION">

                                    </div>
                                </div>
                            </div>
                        </div>
                        -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="/static/admin/javascripts/d3/bar-multiline.js"></script>
    <script src="/static/admin/javascripts/production-status-new.js"></script>
    <script id="PRODUCT_STATUS_TEMPLATE" type="text/x-jquery-tmpl">
        <tr>
            <td><strong>{{= ROW_NUM}}</strong></td>
            <td><strong>{{= LINE}}</strong></td>
            <td><strong>{{= MACHINE}}</strong></td>
            <td><strong>{{= WORK_DATE}}</strong></td>
            <td><strong>{{= (WORKING_TIME_H).toFixed(2) }}</strong></td>
            <td><strong>{{= (ACTIVE_TIME_H).toFixed(2) }}</strong></td>

            <td><strong>{{= (WORKING_NONACTIVE_TIME_H).toFixed(2) }}</strong></td>

            <td><strong>{{= (TIME_OPERATION_RATE).toFixed(2) }}</strong></td>

            <td><strong>{{= (WORKING_NONACTIVE_TIME_RATE).toFixed(2) }}</strong></td>
            <td><strong>{{= (UPH).toFixed(2) }}</strong></td>
            <td><strong>{{= TOTAL_PRODUCT}}</strong></td>

            <td><strong>{{= BYPASSED_PRODUCT}}</strong></td>
            <td><strong>{{= (BYPASSED_PRODUCT_RATE).toFixed(2)  }}</strong></td>

            <td><strong>{{= OK_PRODUCT}}</strong></td>
            <td><strong>{{= (OK_PRODUCT_RATE).toFixed(2) }}</strong></td>


            <td><strong>{{= NG_PRODUCT}}</strong></td>
            <td><strong>{{= (NG_PRODUCT_RATE).toFixed(2)  }}</strong></td>

            <td><strong>{{= DEFECTIVE_PRODUCT}}</strong></td>
            <td><strong>{{= (DEFECTIVE_PRODUCT_RATE).toFixed(2)  }}</strong></td>
            <td><strong>{{= (THEORETICAL_PRODUCT_QTY).toFixed(0) }}</strong></td>
            <td><strong>{{= TARGET_PRODUCT_QTY}}</strong></td>
            <td><strong>{{= (THEORETICAL_CYCLE_TIME_S).toFixed(2) }}</strong></td>
            <td><strong>{{= (PROCESS_CYCLE_TIME_S).toFixed(2) }}</strong></td>
        </tr>
    </script>

    <!--<tr data-id="{{= ID}} "style="text-align:center;">
            <td><strong>{{= NO}}</strong></td>
            <td><strong>{{= PRODUCT_DATE}}</strong></td>
            <td><strong>{{= PRODUCT}}</strong></td>
            <td><strong>{{= (RUNNING_TIME + NON_RUNNING_TIME).toFixed(3) }}</strong></td>
            <td><strong>{{= RUNNING_TIME}}</strong></td>
            <td><strong>{{= NON_RUNNING_TIME}}</strong></td>
            <td><strong>{{= PERCENTAGE_NON_RUNNING_TIME}}</strong></td>
            <td><strong>{{= UPH}}</strong></td>
            <td><strong>{{= (TOTAL_PRODUCT / (RUNNING_TIME + NON_RUNNING_TIME) ).toFixed(3)}}</strong></td>
            <td><strong>{{= TOTAL_PRODUCT}}</strong></td>
            <td><strong>{{= TOTAL_GOOD_PRODUCT}}</strong></td>
            <td><strong>{{= TOTAL_DEFECTIVE_PRODUCT}}</strong></td>
            <td><strong>{{= PERCENTAGE_DEFECTIVE_PRODUCT}}</strong></td>
            <td><strong>{{= THEORETICAL_QUANTITY}}</strong></td>
            <td><strong>{{= PRODUCT_EFFICIENCY}}</strong></td>
            <td><strong>{{= CYCLE_TIME}}</strong></td>
    </tr>-->

</div>
<th:block layout:fragment="script">
    <script src="../../static/admin/javascripts/libraries/jquery-dateFormat.js"></script>
    <script>
        $(document).ready(function () {

            var startDateYesterDay = new Date();
            startDateYesterDay.setDate(startDateYesterDay.getDate() - 30);
            $('#startDate').datetimepicker({
                // format: 'YYYY-MM-DD HH:mm',
                //defaultDate: new Date().setHours(08, 00)
                format: 'YYYY-MM-DD',
                defaultDate: startDateYesterDay
            });

            $('#txtStartDate').val(startDateYesterDay.toISOString().substring(0, 10));

            $('#endDate').datetimepicker({
                // format: 'YYYY-MM-DD HH:mm',
                // defaultDate: new Date()
                format: 'YYYY-MM-DD',
                defaultDate: new Date()
            });
            var today = new Date();
            $('#txtEndDate').val(today.toISOString().substring(0, 10));

        });
    </script>
</th:block>
</body>
</html>