<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="admin/layout">
<head>
    <title>설비상태현황(타임라인)</title>

   
</head>

<body>
<div layout:fragment="content">
    <section class="content-header">
        <h1>
            설비상태현황(타임라인)
        </h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="box box-primary">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <select class="form-control" id="lineName">
                                        <option value="">라인</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-xs-12">

                                <div class="form-group">
                                    <div class='input-group date' id='crossedDate'>
                                        <input type='text' class="form-control" name="txStartTime"/>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>

                            </div>

                            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-xs-12">
                                <button id="btnQuerys" class="btn btn-primary">검색</button>
                            </div>



                        </div>

                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <span style="width: 20px; height: 20px; background-color: green; display: inline-block; vertical-align: middle; border-radius: 20%;"></span>
                                <span style="margin-right: 10px;">  RUN</span>
                                <span style="width: 20px; height: 20px; background-color: #FFD800; display: inline-block; vertical-align: middle; border-radius: 20%;"></span>
                                <span style="margin-right: 10px;">  WAITING</span>
                                <span style="width: 20px; height: 20px; background-color: #FF0000; display: inline-block; vertical-align: middle; border-radius: 20%;"></span>
                                <span style="margin-right: 10px;">  STOP</span>
                                <span style="width: 20px; height: 20px; background-color: #666666; display: inline-block; vertical-align: middle; border-radius: 20%;"></span>
                                <span style="margin-right: 10px;">  OFFLINE</span>
                                <span style="width: 20px; height: 20px; background-color: #0000ff; display: inline-block; vertical-align: middle; border-radius: 20%;"></span>
                                <span style="margin-right: 10px;">  MANUAL</span>

                            </div>
                        </div>

                        <div   id="container"  style="min-width: 310px; max-width: 1800px; height:1020px; margin: 1em auto">


                            <iframe id="iframe1" src="/admin/time-line1" style="border:none;height:1000px;width:1800px;"></iframe>

                            <!--<div>
                                <span style="float: left;"><b><h3>08:00 AM</h3></b></span>
                                <span style="float: right"><b><h3>08:00 AM</h3></b></span>
                            </div>-->

                           <!-- <iframe id="iframe2" src="/admin/time-line2" style="border:none;height:400px;width:1400px;"></iframe>-->




                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>







</div>


<th:block layout:fragment="script">

 <script>
        $(document).ready(function () {
            $(function () {
                $('#crossedDate').datetimepicker({
                    format: 'YYYY-MM-DD',
                    defaultDate: new Date()
                });
            });
        });
    </script>

</th:block>



</body>


</html>