body {
    font-family: "Source Code Pro", Consolas, monaco, monospace;
    line-height: 1.5;
  font-weight: 400;
}
.day {
  fill: #fff;
  stroke: black;
  stroke-width: .5px;
}
.month {
  fill: none;
  stroke: white;
  stroke-width: 1px;
}
.year-title {
  font-size: 18px;
  letter-spacing: 10px;
  fill: #00B0DD; 
}

#heatmap {
  padding-top: 30px;
}
svg text { 
  font-size: 11px;
  text-transform: uppercase;
  fill: #00B0DD;
}