<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="admin/layout">
<head>
    <title>라인공정별상관분석</title>
    <style>
        /* The container */
        .container {
            display: block;
            position: relative;
            padding-left: 35px;
            margin-bottom: 12px;
            cursor: pointer;
            font-size: 22px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        /* Hide the browser's default radio button */
        .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }

        /* Create a custom radio button */
        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 25px;
            background-color: #eee;
            border-radius: 50%;
        }

        /* On mouse-over, add a grey background color */
        .container:hover input ~ .checkmark {
            background-color: #ccc;
        }

        /* When the radio button is checked, add a blue background */
        .container input:checked ~ .checkmark {
            background-color: #3c8dbc;
        }

        /* Create the indicator (the dot/circle - hidden when not checked) */
        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }

        /* Show the indicator (dot/circle) when checked */
        .container input:checked ~ .checkmark:after {
            display: block;
        }

        /* Style the indicator (dot/circle) */
        .container .checkmark:after {
            top: 9px;
            left: 9px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: white;
        }
        #corelation{
            width: auto;
        }

        table {
            font-size: 12pt;
        }

        table thead {
            background-color: #3c8dbc;
            color: white;
        }

        table thead th {
            text-align: center;
        }

        table thead tr {
            text-align: center;
            height: 10px;
            width: auto;
        }

        table tbody tr {
            text-align: center;
            height: 10px;
            width: auto;
        }

        table.table-bordered {
            border: 1px solid black;
            margin-top: 20px;
        }

        table.table-bordered > thead > tr > th {
            border: 2px solid black;
            vertical-align: middle;
            width: 100px;
        }

        table.table-bordered > tbody > tr > td {
            border: 2px solid black;
            vertical-align: middle;
            width: 100px;
        }
        table.table-bordered td:last-child {
            border-right-width: 1px;
        }
        body {
            font: 11px sans-serif;
        }
        .axis path,
        .axis line {
            fill: none;
            stroke: #000;
            shape-rendering: crispEdges;
        }

        .dot {
            stroke: #000;
        }

        .tooltip {
            position: absolute;
            width: 200px;
            height: 28px;
            pointer-events: none;
        }
    </style>

    <script>
        $(document).ready(function () {
            $(function () {
                var d1 = new Date();
                var d2 = new Date();
                d1.setDate(d1.getDate() - 1);
                d1.setHours(0,0,0);
                d2.setHours(0,0,0);
                $('#startDate').datetimepicker({
                    format: 'YYYY-MM-DD',
                    defaultDate: d1
                });
                $('#endDate').datetimepicker({
                    format: 'YYYY-MM-DD',
                    defaultDate:  d2
                });
            });
        });

    </script>
</head>
<body>
<div layout:fragment="content">
    <section class="content-header">
        <h1>
            라인별공정품질관리도
        </h1>
    </section>
    <section class="content">




        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="box box-primary">
                    <div class="box-body">

                        <div class="row">
                            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <select class="form-control" id="selectLine">
                                        <option value="">라인</option>
                                    </select>
                                </div>
                            </div>

                            <!--
                           <div style="visibility: visible;" class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-xs-12">
                                   <span class="btn-success btn-sm" >라인: <span id="line"></span></span>
                                   <select class="form-control" id="selectLine">
                                   </select>
                            </div>
                            -->
                            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <select class="form-control" id="selectMachine">
                                        <option>설비</option>
                                    </select>
                                </div>
                            </div>

                            <!--
                            <div style="visibility: visible;" class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <span class="btn-success btn-sm" >설비: <span id="machine"></span></span>
                                    <select class="form-control" id="selectMachine">
                                        <option value=''>설비선텐</option>
                                    </select>
                                </div>
                            </div>
                            -->

                            <!--
                            <div  style="visibility: visible;" class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <span class="btn-success btn-sm" >공정: </span>
                                    <div id="process" style="padding-top: 2px;"></div>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <select class="form-control" id="selectProduct">
                                        <option value="">품종</option>
                                        <option value="ALL">All</option>
                                        <option ng-repeat="p in product" value="{{p.NAME}}">{{p.NAME}}</option>
                                    </select>
                                </div>
                            </div>
                            -->

                            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <div class='input-group date' id='startDate'>
                                        <input type='text' class="form-control" id='txtstartDate'/>
                                        <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <div class='input-group date' id='endDate'>
                                        <input type='text' class="form-control" id='txtendDate'/>
                                        <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-4 col-xs-12">
                                <button class="btn btn-primary" type="button" id="btnQuery" value="Submit">검색</button>
                            </div>
                        </div>

                        <!--
                        <div class="row">
                            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <select class="form-control" id="selectLine">
                                        <option value="">라인</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <select class="form-control" id="selectProduct">
                                        <option value="">품종</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <select class="form-control" id="selectLine">
                                        <option value="">공정명</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <select class="form-control" id="selectLine">
                                        <option value="">향목명</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-1 col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <div class='input-group date' id='startDate'>
                                        <input type='text' class="form-control"/>
                                        <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-1 col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <div class='input-group date' id='endDate'>
                                        <input type='text' class="form-control"/>
                                        <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <button id="btnQuery" class="btn btn-primary">검색</button>
                                    <button class="btn btn-secondary btnDownload" type="button">Excel</button>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-xs-12">
                            </div>
                        </div>
                        -->

                        <div class="row" id="txtCorrelationTable">
                            <table style="margin-left: 0.5%; height: 300px; width: 50px; float: left;">
                                <tr><td>(%)</td></tr>
                                <tr><td>P</td></tr>
                            </table>
                            <div class="col-xl-6 col-lg-12 col-md-6 col-sm-6 col-xs-12 table-responsive" style="display: contents">
                                <div class="table" id="corelation" style="width: 1400px; margin: 0 100px; overflow: scroll;"></div>
                                <!--<div class="col-xl-6 col-lg-6 col-md-8 col-sm-12 col-xs-12 table-responsive">
                                    <table class="table table-bordered">
&lt;!&ndash;                                                <tr>
                                            <td style="font-weight: bold;background-color: #3c8dbc;color: white; width: 50px;">X인자</td>
                                            <td>T/P흔들림</td>
                                        </tr>&ndash;&gt;
                                        <tr>
                                            <td style="font-weight: bold;background-color: #3c8dbc;color: white; width: 50px;">상관게수</td>
                                            <td style="color: red;" id="txtCorrelationValue">0.8758</td>
                                        </tr>
                                    </table>
                                </div>-->
                            </div>
                            <table style="margin-left: 0.5%; height: 200px; width: 50px; float: left;">
                                <tr><td>(개)</td></tr>
                                <tr><td>Pn</td></tr>
                            </table>
                            <div class="col-xl-6 col-lg-12 col-md-6 col-sm-6 col-xs-12 table-responsive" style="display: contents">
                                <div class="table" id="corelation2" style="width: 1400px; margin: 0 100px; overflow: scroll;"></div>
                                <!--<div class="col-xl-6 col-lg-6 col-md-8 col-sm-12 col-xs-12 table-responsive">
                                    <table class="table table-bordered">
&lt;!&ndash;                                                <tr>
                                            <td style="font-weight: bold;background-color: #3c8dbc;color: white; width: 50px;">X인자</td>
                                            <td>T/P흔들림</td>
                                        </tr>&ndash;&gt;
                                        <tr>
                                            <td style="font-weight: bold;background-color: #3c8dbc;color: white; width: 50px;">상관게수</td>
                                            <td style="color: red;" id="txtCorrelationValue">0.8758</td>
                                        </tr>
                                    </table>
                                </div>-->
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12 table-responsive">
                                <table class="table table-bordered" id="PROCESS_TABLE">

                                </table>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr style="font-weight: bold;background-color: #3c8dbc;color: white;">
                                            <td rowspan="2">작업일자</td>
                                            <td rowspan="2">검사수량</td>
                                            <td rowspan="2">불량수량</td>
                                            <td rowspan="2">불량율</td>
                                            <!--<td colspan="5">원인별 불량</td>-->
                                        </tr>
                                        <!--<tr>
                                            <td>각도</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>-->
                                        </thead>
                                        <tbody id="tbody">

                                        <!--<tr>
                                            <td>12/7</td>
                                            <td>1000</td>
                                            <td>20</td>
                                            <td>2.00</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>12/8</td>
                                            <td>1000</td>
                                            <td>20</td>
                                            <td>2.00</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>12/9</td>
                                            <td>1000</td>
                                            <td>20</td>
                                            <td>2.00</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>12/10</td>
                                            <td>1000</td>
                                            <td>20</td>
                                            <td>2.00</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>12/11</td>
                                            <td>1000</td>
                                            <td>20</td>
                                            <td>2.00</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>12/12</td>
                                            <td>1000</td>
                                            <td>20</td>
                                            <td>2.00</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>12/13</td>
                                            <td>1000</td>
                                            <td>20</td>
                                            <td>2.00</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>12/14</td>
                                            <td>1000</td>
                                            <td>20</td>
                                            <td>2.00</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>12/15</td>
                                            <td>1000</td>
                                            <td>20</td>
                                            <td>2.00</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>12/16</td>
                                            <td>1000</td>
                                            <td>20</td>
                                            <td>2.00</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>12/17</td>
                                            <td>1000</td>
                                            <td>20</td>
                                            <td>2.00</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>12/18</td>
                                            <td>1000</td>
                                            <td>20</td>
                                            <td>2.00</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>12/19</td>
                                            <td>1000</td>
                                            <td>20</td>
                                            <td>2.00</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>12/20</td>
                                            <td>1000</td>
                                            <td>20</td>
                                            <td>2.00</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>12/21</td>
                                            <td>1000</td>
                                            <td>20</td>
                                            <td>2.00</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>12/22</td>
                                            <td>1000</td>
                                            <td>20</td>
                                            <td>2.00</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>12/23</td>
                                            <td>1000</td>
                                            <td>20</td>
                                            <td>2.00</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>12/24</td>
                                            <td>1000</td>
                                            <td>20</td>
                                            <td>2.00</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>12/25</td>
                                            <td>1000</td>
                                            <td>20</td>
                                            <td>2.00</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>12/26</td>
                                            <td>1000</td>
                                            <td>20</td>
                                            <td>2.00</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>-->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--<script src="http://d3js.org/d3.v3.js"></script>-->
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="/static/admin/javascripts/d3/corelation.js"></script>
    <script src="/static/admin/javascripts/process-quality-management.js"></script>



    <script th:inline="javascript">

        /*<![CDATA[*/

        var user = [[${data}]];// 'User Name';

        /*]]>*/

        console.log(user);

        var line = "";
        var machine ="";
        var machineName ="";
        var process = [];

        var data = [[${data}]];
        console.log(data);

        var processHTML = "";
        var processHTML1 = "";
        for(i=0;i<data.length;i++){
            var splitData = data[i].split("*");
            line = splitData[0];
            machine = splitData[1];
            process[i] = splitData[2];

            //processHTML += '<p class="label label-warning">'+splitData[2]+"</p> ";
            processHTML += '<label><input type="radio"  class="processes"  name="optionsRadios" value="'+splitData[2]+'"> <strong>'+splitData[2]+'</strong> &nbsp; &nbsp; </label> ';// '<p class="label label-warning">'+splitData[2]+"</p> ";
            processHTML1 += splitData[2]+", ";
            machineName = splitData[3];
        }

        $("#line").text(line);
        $("#machine").text(machine);
        $("#process").html(processHTML);


        $("#filteringMessage").html("<div class='callout callout-info'>" +
            "                <h4></i> Filtering Data</h4>n" +
            "              </div>");

        $("#info").html(line +" -  "+ machineName +" - <b>"+ processHTML1.trim().slice(0, -1) +"</b> 공정분석")

    </script>




</div>
<th:block layout:fragment="script">

</th:block>
</body>
</html>