<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="admin/layout" ng-app="fukoku">

<head>

    <title>  라인별공정품질종합현황판</title>
    
    <link rel="stylesheet" th:href="@{/static/admin/angular/bower_components/nvd3/build/nv.d3.min.css}"/>
    <script th:src="@{/static/admin/angular/bower_components/angular/angular.min.js}"></script>
    <script th:src="@{/static/admin/angular/bower_components/d3/d3.min.js}" charset="utf-8"></script>
    <script th:src="@{/static/admin/angular/bower_components/nvd3/build/nv.d3.js}"></script>
    <script th:src="@{/static/admin/angular/bower_components/angular-nvd3/dist/angular-nvd3.js}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-sanitize.js"></script>
    
    
    
    
	<style>
		.bar rect {
		  fill: steelblue;
		  shape-rendering: crispEdges;
		}
		
		.bar text {
		  fill: #fff;
		}
		
		.axis path, .axis line {
		  fill: none;
		  stroke: #000;
		  shape-rendering: crispEdges;
		}
		
		.line {
		  fill: none;
		  stroke: #000;
		  stroke-width: 1.5px;
		}
		
		
		
		/* .nvd3 g.nv-scatter g.nv-series-0 path.nv-point
		{
		     stroke-opacity: 0!important;
		} */
		
		
		/* .nvd3.nv-scatter .nv-groups .nv-point,
		.nvd3 .nv-groups .nv-point {
		  stroke-width: 1px;
		  fill-opacity: .95 !important;
		  stroke-opacity: .95 !important;
		}  */
		
	    .nvd3 g.nv-scatter g.nv-series-0 path.nv-point{
	    	stroke-width: 1px;
		    fill-opacity: .95 !important;
		    stroke-opacity: .95 !important;
	    }
			
		.blockDisplay{
			display:none;
		}		
	    
		
		
	</style>
    
    
    

</head>
<body ng-controller="MainCtrl">

<div layout:fragment="content">

    <section class="content-header">
        <h1>
           	  라인별공정품질종합현황판
        </h1>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
            
                <div class="box box-primary">
                    <div class="box-body">
                        
                        <div class="row" >
                        
                        	<!-- <div class="col-xl-12 col-lg-12 col-md-6 col-sm-6 col-xs-12">
                        		
                        			<div class="col-xl-1 col-lg-1 col-md-6 col-sm-6 col-xs-12">
		                                <span style="font-size:15px"  class="label label-success">{{labelLine}}</span>
		                            </div>
		                            
		                            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-xs-12">
		                                 <span  style="font-size:15px" class="label label-success">{{labelMachine}}</span>
		                            </div>
		                            
	                            	
	                            	<div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-xs-12">
		                                <span  style="font-size:15px" class="label label-success">{{labelProduct}}</span>
		                            </div>
		                            
		                            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-xs-12">
		                                <span style="font-size:15px" class="label label-success">{{labelProcess}} {{labelUsl}} ~ {{labelLsl}}</span>
		                            </div>
	                                
	                                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-xs-12">
		                                <div class="form-group">
		                                    <div class="input-group date" id="startTime">
		                                        <input class="form-control" name="txtStartTime" type="text">
		                                        <span class="input-group-addon">
		                                            <span class="glyphicon glyphicon-calendar"></span>
		                                        </span>
		                                    </div>
		                                </div>
	                           		</div>
	                           		<div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-xs-12">
		                                <div class="form-group">
		                                    <div class="input-group date" id="endTime">
		                                        <input class="form-control" name="txtEndTime" type="text">
		                                        <span class="input-group-addon">
		                                            <span class="glyphicon glyphicon-calendar"></span>
		                                        </span>
		                                    </div>
		                                </div>
	                           		</div>
	                           		
	                           		<div class="col-xl-1 col-lg-1 col-md-1 col-sm-4 col-xs-12">
	                           			<button class="btn btn-primary" id="btFind" ng-click="btSearch()" type="button">검색 </button>
	                                </div>
                                
                        	</div> -->
                        	
                        	<div class="col-xl-12 col-lg-12 col-md-6 col-sm-6 col-xs-12">
                        		
                        			<div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-xs-12">
		                                <div class="form-group">
			                                <select class="form-control" id="selectLine">
			                                    <option value="NA">라인</option>
			                                    <option ng-repeat="l in lines" value="{{l.name}}">{{l.name}}</option>
			                                </select>
		                                </div>
		                            </div>
		                            
		                            
		                            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-xs-12">
		                                <div class="form-group">
			                                <select class="form-control" id="selectMachine" >
			                                    
			                                </select>
		                                </div>
		                            </div>
		                            
	                            	
	                            	<div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-xs-12">
		                                <div class="form-group">
			                                <select class="form-control" id="selectProduct">
			                                    <option value="">품종</option>
			                                   <option ng-repeat="p in products" value="{{p.ref_product}}">{{p.ref_product}}</option>
			                                </select>
		                                </div>
		                            </div>
	                                
	                                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-xs-12">
		                                <div class="form-group">
		                                    <div class="input-group date" id="startTime">
		                                        <input class="form-control" name="txtStartTime" type="text">
		                                        <span class="input-group-addon">
		                                            <span class="glyphicon glyphicon-calendar"></span>
		                                        </span>
		                                    </div>
		                                </div>
	                           		</div>
	                           		<div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-xs-12">
		                                <div class="form-group">
		                                    <div class="input-group date" id="endTime">
		                                        <input class="form-control" name="txtEndTime" type="text">
		                                        <span class="input-group-addon">
		                                            <span class="glyphicon glyphicon-calendar"></span>
		                                        </span>
		                                    </div>
		                                </div>
	                           		</div>
	                           		
	                           		<div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-xs-12">
	                           			<button class="btn btn-primary" id="btFind" ng-click="btSearch()" type="button">검색 </button>
	                                </div>
                                
                        	</div>
                        	
                        	<div class="col-xl-12 col-lg-12 col-md-6 col-sm-6 col-xs-12">
                        		<div class="col-xl-12 col-lg-12 col-md-2 col-sm-4 col-xs-12">
                        		    <span style="margin-right:10px" ng-repeat="p in processes">
                                	 	<input type="checkbox" ng-model="ckLines.selected"  name="ckProcess" value="{{p.name}}"> <b>{{p.name}}</b>
                                	</span>
                                </div>
                        	</div>
                        
                        		
                        </div>
                        
                       
                        
                        
                        
                        <div class="row"  style="margin-top:10px">
                        
                        	<div class="row" style="padding: 0 0 0 25px;">
	                            <p id="totalFound"></p>
	                            <!-- <label style="font-size:14px;" class="label label-success" ng-bind-html="seletedDate"></label> -->
	                        </div>
	                        <!-- <div class="row blockDisplay" style="padding: 10px 0 0 25px;">
	                            <button class="btn btn-info" id="all" ng-click="all()">All</button>
	                            <button class="btn btn-info" id="previous" ng-click="previous()">Previous</button>
	                            <button class="btn btn-info" id="next" ng-click="next()">Next</button>
	                        </div> -->
                        	
                        	
                        	
                        	
                        	<div class="row" style="padding: 10px 0 0 25px;">
                        	
                        		
                        	
                        		 <div class="col-xl-8 col-lg-8 col-md-8 col-sm-4 col-xs-12">
                        			
                        			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-4 col-xs-12">
	                        			<nvd3 options="optionsR" data="dataR"></nvd3>
	                        		</div>
	                        		
	                        		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-4 col-xs-12">
	                        			<nvd3 options="optionsX" data="dataX"></nvd3>
	                        		</div>
                        		
                        		</div> 
                        		
                        		
                        		<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12 blockDisplay">
                        			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-4 col-xs-12">
                        				<h5>Range</h5>
                        				<div id="histogramR"></div>
                        			</div>
                        			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-4 col-xs-12">
                        				<h5>Average</h5>
                        				<div id="histogramX"></div>
                        			</div>
                        		</div>
                        		
                        		
                        		
                        		
                        	</div>
                        	
                        	
                        	<div class="row" style="padding: 30px;">
                        		<div  id="rowTable" class="blockDisplay">
                        		
                        			<div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-xs-12">
                        				<table  class="table table-hover table-bordered table-striped">
			                        				<tr>
				                        				<th>Start Time</th>
				                        				<td>{{singleData.startTime}}</td>
				                        			</tr>
				                        			<tr>
				                        				<th>Stop Time</th>
				                        				<td>{{singleData.endTime}}</td>
				                        			</tr>
				                        			<tr>
				                        				<th>Pp</th>
				                        				<td>{{singleData.pp}}</td>
				                        			</tr>
				                        			<tr>
				                        				<th>Ppk</th>
				                        				<td>{{singleData.ppk}}</td>
				                        			</tr>
				                        			<tr>
				                        				<th>X-Bar</th>
				                        				<td>{{singleData.meanX}}</td>
				                        			</tr>
				                        			<tr>
				                        				<th>R-Chart</th>
				                        				<td>{{singleData.meanR}}</td>
				                        			</tr>
				                        			<tr>
				                        				<th>생산수량</th>
				                        				<td>{{singleData.total_product}}</td>
				                        			</tr>
				                        			<tr>
				                        				<th>양품수량</th>
				                        				<td>{{singleData.ok_product}}</td>
				                        			</tr>
				                        			<tr>
				                        				<th>불량수량</th>
				                        				<td>{{singleData.ng_product}}</td>
				                        			</tr>
				                        			<!-- <tr>
				                        				<th>Pp</th>
				                        				<td>{{singleData.pp}}</td>
				                        			</tr>
				                        			<tr>
				                        				<th>Ppk</th>
				                        				<td>{{singleData.ppk}}</td>
				                        			</tr> -->
				                        			<tr>
				                        				<th>STDV</th>
				                        				<td>{{singleData.stdv}}</td>
				                        			</tr>
			                        		</table>
                        			
                        			</div>
                        			
                        			<div class="col-xl-10 col-lg-10 col-md-10 col-sm-4 col-xs-12">
                        				<table class="table table-hover table-bordered table-striped" 
			                        		id="dataTable">
			                        			<!-- <thead class="table-head">
				                        			<tr>
				                        				<th>Start Time</th>
				                        				<th>Stop Time</th>
				                        				<th>Cp</th>
				                        				<th>Cpk</th>
				                        				<th>X-Bar</th>
				                        				<th>R-Chart</th>
				                        				<th>Ds</th>
				                        				<th>Ok</th>
				                        				<th>Ng</th>
				                        			</tr>
			                        			</thead>
			                        			<tbody>
				                        			<tr ng-repeat="p in processControls">
				                        				<td>{{p.startTime}}</td>
				                        				<td>{{p.endTime}}</td>
				                        				<td>{{p.cp}}</td>
				                        				<td>{{p.cpk}}</td>
				                        				<td>{{p.xBar}}</td>
				                        				<td>{{p.rang}}</td>
				                        				<td>{{p.dailySeq}}</td>
				                        				<td>{{p.okProduct}}</td>
				                        				<td>{{p.ngProduct}}</td>
				                        			</tr>
			                        			</tbody> -->
			                        		</table>
                        			</div>
                        		
	                        		
	                        	</div>
                        	</div>
                        	
                        	
                        </div>

                        
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Modal -->

    
</div>
<th:block layout:fragment="script">
    
    
	
<script th:src="@{/static/admin/javascript_v3/workpiece/workpiece-spc.js}"></script>
<script>
        $(document).ready(function () {
            $(function () {
                var d1 = new Date();
                var d2 = new Date();
                d1.setDate(d1.getDate() - 1);
                d1.setHours(8,0,0);
                d2.setHours(8,0,0);
                $('#startTime').datetimepicker({
                    format: 'YYYY-MM-DD',
                    //format: 'YYYY/MM/DD',
                    defaultDate: d1
                });
                $('#endTime').datetimepicker({
                    format: 'YYYY-MM-DD',
                    //format: 'YYYY/MM/DD',
                    defaultDate:  d2
                });
            });
        });
    </script>

</th:block>
</body>
</html>